h3 {
    font-size: 20px;
}

.bookBox {
    display: inline-block;
    height: 350px;
    border-radius: 6px;
    margin-bottom: 20px;

    
}

.spineBod {
    height: 350px;
    float: left;
    border-radius: 6px;
    border:1px solid #24305E;
    background-color: #324383;
    color:#F8E9A1;
}

.spineWriting {
    height: 300px;
    padding-top: 15px;
    writing-mode: vertical-rl;
}

.spineArrowCont {
    padding-top: 0px;
    text-align: center;
}

.spineArrow {
    color: #d8ddf0;
    font-size: 23px;
}

.coverBod {
    height: 350px;
    overflow: scroll;
    padding-top: 15px;
    background-color: #d8ddf0;
}

.coverCont {
    transition: "all .5s ease"
}

.desc {
    font-style: italic;
}
.coverImgHolder {
    float:left;
    padding: 10px;
}

.coverText { 
    padding: 10px;
    font-size: 12px;
}

a {
    color:#ff6666;
}

a:hover {
    color: #990000;
}
